#keyboard {
    position: relative;
}

.keybord {  
    position: absolute;
    max-width: 932px;
    border: 1px solid rgb(187, 187, 187, 0.7);
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 7px;
    z-index: 10;
    color: red;
    top: 170px;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(245, 245, 245, 0.925);
    transition: 0.75s;
}


.keybord-hide {
    top: -1500px;
}

.button-keyboard {
    border: 1px solid rgb(187, 187, 187, 0.9);
    min-width: 45px;
    height: 30px;
    margin: 8px;
    cursor: pointer;
    border-radius: 7px;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.active {
    background: blue;
    font-weight: 700;
    color: white;
    opacity: 0.6;
}

#Backspace {
    width: 100px;
}

#Delete {
    width: 50px;
}

#Tab {
    width: 55px;
}

#Backslash {
    width: 45px;
}

#CapsLock {
    width: 85px;
}

#Enter {
    width: 100px;
}

#ShiftLeft {
    width: 110px;
}

#Space {
    width: 350px;
    left: 162px;
}

.clearfix {
    width: 350px;
    left: 61px;
}

#lang {
    width: 100px;
    position: absolute;
    top: 238px;
    background: rgba(169, 169, 169, 0.596);
    border: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
}

#MetaLeft {
    top: 60;
    left: -824;
}

#ArrowLeft {
    position: absolute;
    left: 267;
}
#ArrowDown {
    left: 84;
}

#Space,
#ArrowLeft,
#ArrowRight {
    position: relative;
}